*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#cajaPeque {
  height: 400px;
  width: 500px;
  background-image: url(../img/fondo.jpg);
  background-position: center,center;
  background-size: cover;
  @import('https://fonts.googleapis.com/css?family=Gloria+Hallelujah')
body {
  background-image: url(../img/tasklist.PNG);
  background-repeat: repeat;
}
